button {
    border: 1px solid black;
}

.box-outline {
    border: 1px solid black;
    width: 400px;
    height: 112px;
}

.grid-container {
    display: grid;
    padding: 2px 2px 0 2px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.grid-item {
    border: 1px solid black;
}