.box-outline {
    border: 1px solid black;
    width: 400px;
    height: 210px;
}

.grid-container {
    display: grid;
    grid-template-columns: 90px 90px 150px 60px;
    grid-template-rows: 40px 40px 40px 40px 40px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.grid-item {
    border: 1px solid black;
}